<module>
	<rawname>saymyname</rawname>
	<name>Say My Name</name>
	<version>1.0.9</version>
	<repo>extended</repo>
	<publisher>Quirum srl</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<type>setup</type>
	<description>Allows you to generete a welcome text with googletts that can include name and/or surname of caller if he is in phonebook.</description>
	<category>Applications</category>
	<menuitems>
		<saymyname needsenginedb="yes">Say My Name</saymyname>
	</menuitems>
	<location>release/2.11/tts-2.11.0.7.tgz</location>
	<changelog>
		*1.0.9* Fix bug
		*1.0.8* Improve audio file
		*1.0.7* More debug
		*1.0.6* Fix agi script
		*1.0.5* Fix agi script again
		*1.0.4* Fix agi script
		*1.0.3* Display fix and more debug
		*1.0.2* Change class name
		*1.0.1* First version
	</changelog>
	<popovers>
		<saymyname>
			<display>SayMyName</display>
		</saymyname>
	</popovers>
	<supported>
		<version>1.0.0</version>
	</supported>
	<md5sum>95e334009eb9d41adc63878fd307044c</md5sum>
</module>