<module>
	<rawname>saymyname</rawname>
	<name>Say My Name</name>
	<version>1.2.5</version>
	<repo>extended</repo>
	<publisher>Quirum srl</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<type>setup</type>
	<description>Allows you to generete a welcome text with googletts that can include name and/or surname of caller if he is in phonebook.</description>
	<category>Applications</category>
	<menuitems>
		<saymyname needsenginedb="yes">Say My Name</saymyname>
	</menuitems>
	<depends>
		<engine>asterisk ge 1.6</engine>
		<module>ttsengines</module>
		<module>core ge 12.0.16</module>
		<version>13.0.154</version>
	</depends>
	<location>release/2.11/tts-2.11.0.7.tgz</location>
	<changelog>
		*1.2.5*	 Add Music Customization
		*1.2.4*  Bug Fix
		*1.2.3*  SayMyName went in America
		*1.2.2*  Fix npm install -g again
		*1.2.1*  Fix npm install -g
		*1.2.0*  New version without dependency
	</changelog>
	<popovers>
		<saymyname>
			<display>SayMyName</display>
		</saymyname>
	</popovers>
	<supported>
		<version>1.0.0</version>
	</supported>
	<md5sum>95e334009eb9d41adc63878fd307044c</md5sum>
</module>